@charset 'UTF-8';


body {
    /*background-color: #336698;*/
    font: Verdana, sans-serif;
}


#svg_container {
  position: absolute;
  /*border:solid 1px orange;*/
  /*overflow: hidden;*/
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/* SVG */
circle.node {
  fill: dodgerblue;
  stroke: #555;
  stroke-width: 0.09em;
  fill-opacity: 0.5;
}

circle.node:hover {
  /*stroke: blue;*/
}


.selection {
  fill: none;
  stroke: black;
  /*stroke-dasharray: 0.5em,0.3em;*/
  stroke-dasharray: 0.5em,0.3em;
}

rect.selection {
    shape-rendering : crispEdges;
}

.marked {
  fill: none;
  stroke: #333;
  stroke-width: 0.8px;
}

/* Edge of graph */

path.link {
  stroke: #333;
  stroke-width: 0.09em;
}

path.dummylink {
  stroke: yellow;
  stroke-width: 0.5em;
  stroke-opacity: 0;
  /*cursor: pointer;*/
}


.node text {
  font: 10px sans-serif;
  pointer-events: none;
  /*text-anchor: middle;*/
}

.label {
  font: 10px sans-serif;
  pointer-events: none;
  /*text-anchor: middle;*/
  text-shadow: 2px 2px 1px white, -2px -2px 1px white, 2px -2px 1px white, -2px 2px 1px white;
}